<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--GOOGLE-FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Bungee&family=Heebo:wght@300&family=Playfair+Display+SC&family=Righteous&family=Rubik&family=Staatliches&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Bungee&family=Heebo:wght@300&family=Nanum+Gothic+Coding&family=Playfair+Display+SC&family=Righteous&family=Rubik&family=Staatliches&family=Ubuntu&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Log in Fashion Dealer</title>
</head>
<body>
    <section class="background">
        <h2>Log<span>in</span></h2>
        <div class="signup-container">
            <form action="/sci-fi/login" method="post" class="form">
                <div class="input-box">
                    <input type="text" name="user" id="user" placeholder="user" required>
                </div>
                <div class="input-box">
                    <input type="password" name="pass" id="pass" placeholder="password" required>
                </div>
                <div class="input-box-btn">
                    <input type="submit" class="btn-signup" value="LOGIN">
                </div>
            </form>
        </div>

    </section>
    

     <!--Sweetalert2-->
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
   <% if(typeof alert != "undefined") { %>
    <script>
        Swal.fire({
            title: '<%=alertTitle%>',
            text: '<%=alertMessage%>',
            icon: '<%=alertIcon%>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= timer %>
        }).then(()=>{
            window.location= '/sci-fi/<%= ruta %>' 
        })
    </script>
    <%} %>  
</body>
</html>